@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display&family=Prata&display=swap');
@import "tailwindcss";


*{
  font-family: Outfit;
}

select,input,textarea{
  border: 1px solid #c2c2c2;
  outline-color: #6c584c;
  border-radius: 4px;
}
.active{
  background-color: #b2967d;
  border-color: #6c584c;
}